<div id="navigation">
  <div class="top-bar" id="realEstateMenu">
    <div class="top-bar-left">
      <ul class="menu" data-responsive-menu="accordion">
        <li class="menu-text"><%= link_to "Study Buddy", root_path %></li>
        <li><%= link_to "Study Groups", groups_path %></li>
        <li><%= link_to "Locations", locations_path %></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <% if logged_in? %>
          <li><%= link_to "My Account", { controller: "users", action: "show", id: session[:current_user_id]} %></li>
          <li><%= link_to "Log out", logout_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to "Sign Up", signup_path %></li>
          <li><%= link_to "Log In", login_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
