<p id="notice"><%= notice %></p>

<div id="list-groups">
  <div class="row">
    <h4>Available Study Groups</h4>
  </div>
  
  <div class="row">
    <% @groups.each do |group| %>      <div class="small-4 end columns">
        <div class="listgroups">
          <div class="row">
            <div class="list-details">
              <ul class="vertical-list">
                <li><strong>Contact:</strong> <%= group.primary_contact %></li>
                <li><strong>Subject:</strong> <%= group.subject %></li>
                <!--<li><strong>Date:</strong> <%= group.date.to_formatted_s(:long_ordinal) %></li>-->
                <li><strong>Date:</strong> <%= group.date.strftime("%m/%d/%Y") %></li>
                <li><strong>Time:</strong> <%= group.date.strftime("%I:%M%p") %></li>
                <li><strong>Location:</strong> <%= Location.find(group.location_id).building +  Location.find(group.location_id).room%></li>
                <li><strong>Group Size:</strong> <%= group.group_size %></li>
              </ul>
            </div>
          </div>
          
          <ul class="inline-list">
            <li><%= link_to 'Show', group, {:style=>'color:#FFFFFF;', :class => "list_button"} %></li>
            <li><%= link_to 'Edit', edit_group_path(group), {:style=>'color:#FFFFFF;', :class => "list_button"} %></li>
            <li><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' }, :style=>'color:#FFFFFF;', :class => "list_button" %></li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="row">
    <div class="small-8 large-4 small-centered columns">
      <% if logged_in? %>
        <%= link_to "Create a New Group", new_group_path, {:style=>'color:#FFFFFF;', :class => "expanded button"} %>
        <!--<%= button_to 'Create a New Group', new_group_path, :method=> :get, :class=> 'expanded button' %>-->
      <% end %>
    </div>
  </div>
    
</div>

<!--<div id="list-groups">-->
<!--  <div class="row">-->
    
<!--    <h4>Available Groups</h4>-->
    
<!--    <table>-->
<!--      <thead>-->
<!--        <tr>-->
<!--          <th>Primary contact</th>-->
<!--          <th>Subject</th>-->
<!--          <th>Date</th>-->
<!--          <th>Location</th>-->
<!--          <th>Group size</th>-->

<!--          <th colspan="3"></th>-->
<!--        </tr>-->
<!--      </thead>-->
    
<!--      <tbody>-->
<!--        <% @groups.each do |group| %>-->
<!--          <tr>-->
<!--            <td><%= group.primary_contact %></td>-->
<!--            <td><%= group.subject %></td>-->
<!--            <td><%= group.date.to_formatted_s(:long_ordinal) %></td>-->
<!--            <td><%= Location.find(group.location_id).building +  Location.find(group.location_id).room%></td>-->
<!--            <td><%= group.group_size %></td>-->

<!--            <td><%= link_to 'Show', group %></td>-->
<!--            <td><%= link_to 'Edit', edit_group_path(group) %></td>-->
<!--            <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
<!--          </tr>-->
<!--        <% end %>-->
<!--      </tbody>-->
<!--    </table>-->
    
<!--    <br>-->
    
<!--    <div class="row">-->
<!--      <div class="small-8 large-4 small-centered columns">-->
<!--        <% if logged_in? %>-->
<!--          <%= link_to "Create a New Group", new_group_path, {:style=>'color:#FFFFFF;', :class => "expanded button"} %>-->
          <!--<%= button_to 'Create a New Group', new_group_path, :method=> :get, :class=> 'expanded button' %>-->
<!--        <% end %>-->
<!--      </div>-->
<!--    </div>-->
    
<!--  </div>-->
<!--</div>-->