
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
     <div class="small-6 small-centered columns">
       <div class="signup-panel">
         <!--<p class="welcome">Create your Study Buddy account</p>-->
         
         <div class="row collapse field">
           <div class="small-12  columns">
               <%= f.label :username %>
               <%= f.text_field :username, class: 'error' %>
           </div>
         </div>

         <div class="row collapse field">
           <div class="small-12  columns">
               <%= f.label :first_name, 'First Name' %>
               <%= f.text_field :firstname, class: 'error' %>
          </div>
         </div>

         <div class="row collapse field">
           <div class="small-12  columns">
               <%= f.label :last_name, 'Last Name' %>
               <%= f.text_field :lastname, class: 'error' %>
           </div>
         </div>

         <div class="row collapse field">
           <div class="small-12  columns">
               <%= f.label :email %>
               <%= f.email_field :email, class: 'error' %>
           </div>
         </div>

         <div class="row collapse field">
           <div class="small-12  columns">
               <%= f.label :password %>
               <%= f.password_field :password, class: 'error' %>
           </div>
         </div>

         <div class="row collapse field">
           <div class="small-12  columns">
               <%= f.label :reenter_password, 'Re-Enter Password' %>
               <%= f.password_field :password_confirmation %>
           </div>
         </div>

         <div class="row collapse">
           <div class="small-12 large-4 small-centered columns">
             <%= f.submit "Sign Up & Study", class: "button" %>
           </div>
         </div>
         <p>Already have an account? <a href="#">Login here</a></p>
       </div>
     </div>
   </div>
<% end %>
