<p id="notice"><%= notice %></p>

<!--<h3>My Profile</h3>-->
<!--<p>-->
<!--  <strong>Username:</strong>-->
<!--  <%= @user.username %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>Email:</strong>-->
<!--  <%= @user.email %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>Firstname:</strong>-->
<!--  <%= @user.firstname %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>Lastname:</strong>-->
<!--  <%= @user.lastname %>-->
<!--</p>-->




<div class="row bump">
   <div class="small-12 small-centered large-6 large-centered columns">
      <div class="row">
         <div class="profile-card">

            <div class="small-12 large-8 columns">
               <h4>My Profile</h4>
               <p><i class="fi-at-sign"></i><span> Username: <%= @user.username %></span></p>
               <p><i class="fi-mail"></i> Email: <%= @user.email %></p>
               <p><i class="fi-info"></i> First Name: <%= @user.firstname %></p>
               <p><i class="fi-info"></i> Last Name: <%= @user.lastname %></p>

            </div>
         </div>
      </div>
      <%= link_to 'Edit', edit_user_path(@user) %> |
      <%= link_to 'Back', users_path %>
   </div>
</div>