<p id="notice"><%= notice %></p>

<div class="row bump">
   <div class="small-12 small-centered large-6 large-centered columns">
      <div class="row">
         <div class="profile-card">

            <div class="small-12 large-8 columns">
               <h4>My Profile</h4>
               
               <div class="small-12 columns">
                  <p><i class="fi-at-sign"></i><span><strong> Username: </strong> <%= @user.username %></span></p>
               </div>
               
               <div class="small-12 columns">
                  <p><i class="fi-mail"></i><strong> Email: </strong> <%= @user.email %></p>
               </div>
               
               <div class="small-12 columns">
                  <p><i class="fi-info"></i><strong> First Name: </strong> <%= @user.firstname %></p>
               </div>
               
               <div class="small-12 columns">
                  <p><i class="fi-info"></i><strong> Last Name: </strong> <%= @user.lastname %></p>
               </div>

            </div>
         </div>
      </div>
      <%= link_to 'Edit', edit_user_path(@user) %> |
      <%= link_to 'Back', users_path %>
   </div>
</div>
