<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="row">
  <div class="small-6 small-centered columns">
    <div class="signup-panel">
          
      <div class="row collapse">
        <div class="small-12 columns field">
          <%= f.label :building, 'Building Name' %><br>
          <%= f.text_field :building %>
        </div>
      </div>
      
      
     <div class="row collapse">
        <div class="small-12 columns field">
          <%= f.label :room, 'Room Number' %><br>
          <%= f.text_field :room %>
        </div>
      </div>
      
      
      <div class="row collapse">
        <div class="small-12 large-4 small-centered columns">
          <%= f.submit 'Submit', :class=> 'expanded button' %>
        </div>
      </div>
    <% end %>
    </div>
    <%= link_to 'Back', groups_path %>
  </div>
</div>
