<p id="notice"><%= notice %></p>

<div id="list-groups">
  <div class="row">
    
    <h4>Available Locations</h4>

      <table>
        <thead>
          <tr>
            <th>Building Name</th>
            <th>Room Number</th>
            <th colspan="3"></th>
          </tr>
        </thead>
      
        <tbody>
          <% @locations.each do |location| %>
            <tr>
              <td><%= location.building %></td>
              <td><%= location.room %></td>
              <td><%= link_to 'Show', location %></td>
              <td><%= link_to 'Edit', edit_location_path(location) %></td>
              <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      
      <br>
      
      <div class="row">
        <div class="small-8 large-4 small-centered columns">
          <%= button_to 'Create a New Location', new_location_path, :method=> :get, :class=> 'button' %>
      </div>
    </div>
    
  </div>
</div>
      
