<p id="notice"><%= notice %></p>


<div class="row bump">
   <div class="small-12 small-centered large-6 large-centered columns">
      <div class="row">
         <div class="profile-card">

            <div class="small-12 large-8 columns">
                <h4>My Location</h4>
                  <p>
                    <strong>Building:</strong>
                    <%= @location.building %>
                  </p>
                  
                  <p>
                    <strong>Room:</strong>
                    <%= @location.room %>
                  </p>
                  
                  
            </div>
         </div>
      </div>
      <%= link_to 'Edit', edit_location_path(@location) %> |
      <%= link_to 'Back', locations_path %>
   </div>
</div>